{%extends 'base_banner.html'%}
{%block head%}
<script>
    $(function () {

        function goods_total_price() {
            total_price =parseFloat({{goods.gprice}}) * parseInt($('#buy_num').val());
            $('.total').html('总价：<em>'+ total_price +'元</em>');
        }

        $('.add').click(function () {
            num = parseInt($('#buy_num').val());
            if(num+1>{{goods.ginventory}})
                num--;
            $('#buy_num').val(num+1);
            goods_total_price();
        })

         $('.minus').click(function () {
            num = parseInt($('#buy_num').val());
            if(num<2)
              num=2;
            $('#buy_num').val(num-1);
            goods_total_price();

        })

        $('#buy_num').keyup(function () {
//            alert(typeof  $(this).val());
//            console.log($(this).val());
            if (isNaN(parseInt($(this).val())))
                $(this).val(1);
            if (parseInt($(this).val()) > 100 )
                $(this).val(100)

            if (parseInt($(this).val()) < 1 )
                $(this).val(1)
            $(this).val(parseInt($(this).val()));
            goods_total_price();
        })
    })
</script>
{%endblock head%}
{%block body_banner%}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{goods.gimage}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods.gtitle}}</h3>
			<p>{{goods.gabstract}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{goods.gprice}}</em></span>
				<span class="show_unit">单  位：{{goods.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" id="buy_num" name="buy_num" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div>
                <div class="num_name fl">&nbsp;&nbsp;&nbsp;库存：&nbsp;&nbsp;{{goods.ginventory}}</div>
			</div>
			<div class="total">总价：<em>{{goods.gprice}}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{%for g in type%}
					<li>
						<a href="/detail/{{g.id}}"><img src="/static/{{g.gimage}}"></a>
						<h4><a href="/detail/{{g.id}}">{{g.gtitle}}</a></h4>
						<div class="prize">￥{{g.gprice}}</div>
					</li>
					{%endfor%}


				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
					{% autoescape off %}
						<dd>{{goods.gdetails}}</dd>
					{% endautoescape %}
			</div>

		</div>
	</div>

{%endblock body_banner%}